.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD;
    color:floralwhite;
}
.footer {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9b9fc5;
    color:floralwhite;
}